name: ReleaseAndPack

on:
  release:
    types: [created]

jobs:
  pack_and_push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Pack and push NuGet packages
        run: |
          VERSION=$(echo ${{ github.ref_name }} | sed 's/^v//')

          dotnet pack src/AvaLab.DispatchR/AvaLab.DispatchR.csproj -c release -o ./nupkgs/avalab /p:Version=$VERSION -p:PackageVersion=$VERSION
          dotnet nuget push "./nupkgs/avalab/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
